<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	 xmlns:jaxws="http://cxf.apache.org/jaxws" 
 	 xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
 	 xsi:schemaLocation=" http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://cxf.apache.org/jaxws
    http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/jaxrs
    http://cxf.apache.org/schemas/jaxrs.xsd">
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
    <jaxws:endpoint id="myServiceImpl2" implementor="com.spean90.webservice.service.impl.MyService2Impl" address="/myws2"/>
    
     <bean id="userServiceImpl" class="com.spean90.webservice.rest.service.impl.UserServiceImpl" />  
    <jaxrs:server id="userWS" address="/user">  
  
        <jaxrs:serviceBeans>  
            <ref bean="userServiceImpl" />  
        </jaxrs:serviceBeans>  
  
 		<!--拦截器，请求和响应-->  
<!--        <jaxrs:inInterceptors>    
            <ref bean="helloInInterceptor"/>   
        </jaxrs:inInterceptors>   
        <jaxrs:outInterceptors>    
            <ref bean="helloOutInterceptor"/>   
        </jaxrs:outInterceptors>    -->
  
        <jaxrs:extensionMappings>  
            <entry key="json" value="application/json" />  
            <entry key="xml" value="application/xml" />  
        </jaxrs:extensionMappings>  
    </jaxrs:server>  
</beans>